Checks: >
  -*,
  bugprone-*,
  -bugprone-exception-escape,
  -bugprone-forward-declaration-namespace,
  -bugprone-macro-parentheses,
  -bugprone-branch-clone,
  -bugprone-easily-swappable-parameters,
  -bugprone-reserved-identifier,
  modernize-use-nullptr,
  misc-dangling-handle,
  misc-forwarding-reference-overload,
  misc-move-constructor-init,
  misc-move-forwarding-reference,
  misc-multiple-statement-macro,
  misc-non-copyable-objects,
  misc-use-after-move,
  misc-virtual-near-miss